<template name="agentInfoWriting">
  <div id="agentInfoWriting">
    <div class="contents">
      <h2 class="tit01">Agent 정보 등록</h2>
      <div class="inner_box">
        <div class="section mt10">
          <div class="tform01 col agent_info">
            <strong class="txt_list">
              <span>Agent 정보</span>
              <!--<a href="#" class="btns btn_inner90 btn_list_add">-->
                <!--<span><strong>+</strong> 항목 추가</span>-->
              <!--</a>-->
            </strong>
            <table class="mt10">
              <colgroup>
                <col style="width:*">
                <col style="width:30%">
                <col style="width:30%">
                <col style="width:15%">
                <!--<col style="width:10%">-->
              </colgroup>
              <thead>
              <tr>
                <th scope="col"><strong>AGENT_NAME</strong></th>
                <th scope="col"><strong>AGENT_URL</strong></th>
                <th scope="col"><strong>소멸정보절대경로</strong></th>
                <th scope="col"><strong>소멸정보전송기능</strong></th>
                <!--<th scope="col"><strong>파일삭제기능</strong></th>-->
              </tr>
              </thead>
              <tbody id="svc_list">
              {{#with agent}}
              <tr>
                <td><input type="text" name="AGENT_NAME" value="{{AGENT_NAME}}"></td>
                <td><input type="text" name="AGENT_URL" value="{{AGENT_URL}}"></td>
                <td><input type="text" name="소멸정보절대경로" value="{{소멸정보절대경로}}"></td>
                <td><input type="checkbox" name="소멸정보전송기능" checked="{{소멸정보전송기능}}"></td>
                <!--<td><input type="checkbox" name="파일삭제기능" checked="{{파일삭제기능}}"></td>-->
              </tr>
              {{/with}}
              </tbody>
            </table>
          </div>
        </div>
        <div class="btn_area tc mt60">
          <a href="#" class="btns btn_large_ok" name="btnSave"><span>저장</span></a>
          <a href="#" class="btns btn_large_cncl ml10"><span>취소</span></a>
        </div>
      </div>

    </div>
  </div>
</template>